---
layout: layout.liquid
title: Must have items!
---

<h1>Three Items You Must Have When You Leave The House!</h1>
<ul>
  <li>Wallet</li>
  <li>Keys</li>
  <li>Phone</li>
</ul>


<div class="shortcode">
  {% user "Ethan Stokes" "Stokeset" %}
</div>