---
layout: layout.liquid
title: Phone
---

<div class="centered">
  <h1>Phone</h1>
  <p>Phones are small computers that fit in your pocket but give you access to unlimited information. Phones are important to have with you if you need to look something up or call a loved one!</p>
</div>
<img alt="IMG_6694" src="/images/IMG_6694.png" width="200" />